@import '../../styles/index';

.chartfooter-container {
  display: flex;
  width: 100%;
  border-top: 1px solid @grey-1;
}

.chartfooter-left {
  display: flex;
  flex: 1;
  align-items: center;
}

.chartfooter-right {
  display: flex;
  flex: none;
  align-items: center;
  padding: 0.5rem 1rem;
}

.chartfooter-status-message {
  margin-right: 1rem;
  font-size: @font-ml;
  color: @grey-4;
}

.chartfooter-error-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 1rem;

  p {
    font-size: @font-ml;
    color: #fbbd08;
  }
}
