@import '../../styles/index';

.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.navbar-inner-container-left {
  display: flex;
  flex: 1;
}

.navbar-inner-container-right {
  display: flex;
  flex: none;
}

.navbar-button {
  margin: 0 0 0 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}

.navbar-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: @white-4;
  transition: 0.125s ease-in-out;

  &:hover {
    color: @grey-2;
  }
}

.navbar-hover-nav {
  position: absolute;
  display: flex;
  flex-flow: column;
  top: 50px;
  left: -50px;
  transition: 0.125s ease-in-out;
  //transform: translateX(-50px);

  &.hover {
    left: 0;
    //transform: translateX(50px);
  }
}

.nav-mock-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: @font-l;
  color: @white;
  font-weight: 700;
  height: 30px;
  width: 30px;
  margin: 10px;
  border-radius: 5px;
  transition: 0.125s ease-in-out;
  cursor: pointer;

  &.logo-1 {
    background-color: @blue;
    border: 2px solid #b2e2f6;
  }

  &.logo-2 {
    background-color: #ff0059;
    border: 2px solid #f873ff;
  }

  &.logo-3 {
    background-color: #191919;
    border: 2px solid #00c171;
  }

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px #c1c1c1;
  }
}

.nav-mock-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.9;

  &:hover {
    background-color: @white-2;
    opacity: 1;
  }
}
