@import '../../styles/index';

.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.navbar-inner-container-left {
  display: flex;
  flex: 1;
}

.navbar-inner-container-right {
  display: flex;
  flex: none;
}

.navbar-button {
  margin: 0 0 0 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}

.navbar-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: @white-4;
  transition: 0.125s ease-in-out;

  &:hover {
    color: @grey-2;
  }
}
